.global-title {
  display: flex;
  padding: 5px;
  height: 50px;
  background-color: #000;
}

.top-logo {
  flex: 0 0 200px;
  width: 200px;
}

.top-logo-icon {
  margin-top: 5px;
  height: 40px;
}

.top-logo > a {
  vertical-align: middle;
  color: pink;
  cursor: pointer;
}

.global-title form {
  flex: 1;
  margin-top: 9px;
}

.top-search {
  display: inline-block;
  position: absolute;
  width: 60%;
}

.top-search-input {
  height: 26px;
  width: 50%;
}

.top-search-button {
  height: 26px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #fff;
}

.top-sign {
  position: relative;
  float: right;
  line-height: 26px;
}

.top-sign .top-sign-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: white;
}
