.global-title {
  display: flex;
  padding: 5px;
  height: 50px;
  background-color: #000;
}

.top-logo {
  flex: 0 0 200px;
  width: 200px;
}

.top-logo-icon {
  margin-top: 5px;
  height: 40px;
}

.top-logo > a {
  vertical-align: middle;
  color: pink;
  cursor: pointer;
}

.top-search {
  flex: 1;
  line-height: 45px;
}

.top-search-input {
  height: 26px;
  width: 50%;
}

.top-search-button {
  height: 26px;
  margin-left: 5px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.top-sign {
  line-height: 45px;
}

.top-sign .top-sign-button {
  margin-right: 5px;
  border-radius: 4px;
  background-color: white;
}

.search-suggest{
  /* display: block; */
  display: none;
  position: absolute;
  margin:0;
  height:auto;
  width: 40%;
  z-index: 999;
  background-color: white;
}

.suggest-item{
  height:80px;
}

.suggest-item .suggest-item-img{
  height:75px;
  width: auto;
}
.suggest-item .suggest-item-name{
  font-size: 16px;
}
.suggest-item .suggest-item-rating{
  font-size: 14px;
  color: #f3ab3a;
}
