.movie-menu > header{
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background: #f5f5f5;
}

.classification {
  display: flex;
  padding: 15px 10%;
  width: 80%;
  flex-wrap: wrap;
  text-align: center;
  font-size: 16px;
}

.classification span {
  margin-bottom: 5px;
  width: 11%;
}