.detail-page {
  padding: 30px 10%;
}

.detail-page-content h1 {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 300;
}

.movie-poster-and-detail {
  display: flex;
}

.movie-poster {
  padding: 10px 85px 10px 10px;
}

.movie-poster img {
  width: 145px;
}

.movie-detail {
  font-size: 14px;
}

.movie-detail div {
  margin: 6px 0;
}

.movie-detail .detail-name {
  font-weight: bold;
}

.movie-video {
  display: inline-table;
  margin-left: 15%;
  padding: 16px;
  width: 25%;
  border-radius: 7px;
  font-size: 14px;
}

.movie-video h5 {
  margin-bottom: 10px;
  border-bottom: 1px solid;
  color: lightslategrey;
  font-size: 18px;
}

.movie-video li {
  display: flex;
  margin-bottom: 5px;
  justify-content: space-between;
}

.movie-video a {
  color: dimgray;
}

.movie-video a:hover {
  font-weight: bold;
}

.movie-video .paying-movie {
  color: darkgoldenrod;
}

.movie-video .free-movie {
  color: yellowgreen;
}

.movie-story-intro p {
  font-size: 14px;
  text-indent: 29px;
}

.detail-page-content .item-title,
.similar-movie-recommend .item-title {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  background: #777;
  color: #fff;
}

.comment-list {
  margin: 20px 0;
  width: 65%;
}

.commenter-info img {
  height: 30px;
}

.commenter-name,
.comment-title {
  display: inline-block;
  font-size: 13px;
}

.comment-title {
  margin: 0 4px;
  padding: 4px 6px;
  line-height: 18px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  background: yellowgreen;
}

.comment-text {
  margin: 9px 0 25px;
  font-size: 13px;
}

.comment-text:first-letter {
  font-size: 17px;
}

.similar-movie-list {
  display: flex;
  padding: 2% 0;
  flex-wrap: wrap;
}

.similar-movie-list li {
  margin: 5px 3%;
  width: 110px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.similar-movie-list img {
  width: 110px;
  height: 160px;
}

.similar-movie-average {
  font-weight: bold;
  color: #93b5cf;
}
